<div class="container">
    <div id="calc" class="center">
<!--    Display -->
        <input type="text" class="form-control" id="display" placeholder="0" ng-model="displayShow" disabled>
<!--    end Display    -->

<!--    buttons in lines -->
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-lg btn-default" ng-click="acClick()">{{ac}}</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="sosoClick()">+/-</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="percentClick()">%</button>
            <button type="button" class="btn btn-lg btn-warning" ng-click="numsAndOpsclicks('÷')">÷</button>
        </div>
        
        <div class="btn-group" role="group" aria-label="...">
            
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('7')">7</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('8')">8</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('9')">9</button>
            <button type="button" class="btn btn-lg btn-warning" ng-click="numsAndOpsclicks('x')">x</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('4')">4</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('5')">5</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('6')">6</button>
            <button type="button" class="btn btn-lg btn-warning" ng-click="numsAndOpsclicks('-')">-</button>
        </div>
          
       <div class="btn-group" role="group" aria-label="...">  
            
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('1')">1</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('2')">2</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('3')">3</button>
            <button type="button" class="btn btn-lg btn-warning" ng-click="numsAndOpsclicks('+')">+</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-lg btn-lg-2 btn-default" ng-click="numsAndOpsclicks('0')">0</button>
            <button type="button" class="btn btn-lg btn-default" ng-click="numsAndOpsclicks('.')">.</button>
            <button type="button" class="btn btn-lg btn-warning" ng-click="equalClick()">=</button>            
        </div>
<!--    end buttons in lines -->        
    </div>
</div>